/*Está referenciando a raiz do meu documento
Aqui posso passar propriedades que vão ser repetidas em formato de variável
*/
:root{
    --title-color: #322153;
    --primary-color: #34cb79;
}

* {
    margin: 0;
    padding: 0;
    /*Por padrão o padding, ele somado ao width - Esse padrão é o content-box*/
    box-sizing: border-box;/*Pra resolver isso nós queremos que esse padding, preencha somente ele mesmo, o limite é a borda. Usamos o border-box. Com isso ele não se estica mais, ou cresce*/
}

html {
    font-family: 'Roboto', sans-serif;
}

body{
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    color: var(--title-color);
    font-family: 'Ubuntu', sans-serif;
}

/*
    Box Model
    Modelo de Caixa
    Todo elemento é uma caixa
    Esses elementos possuem largura, altura, prenchimento, espaçamento, cor, fundo, etc..
    E todos eles são divididos em dois dois tipos de elementos, dentro do box model
    Pode ser display o block ou inline
    Caixa tambem possuem alinhamentos
    Posicionamento
    O block ele preenche todo o espaço disponível pra ele, e tambem ele é um abaixo do outro.
    O inline o tamanho dele é de acordo com o seu conteúdo, e ele sempre um ao lado do outro

    Obs: Outra coisa importante, o html . O padrão são elementos um acima do outro na vertical. Não importa o tipo de display
*/


/*Refatorar - Significa separar os arquivos css, pra facilitar na leitura e manutenção do código*/