
#page-home{
    background: url(../assets/home-background.svg) no-repeat;
    height: 100vh;
    background-position: 35vw bottom;
}

/*Cascata, por que vamos fazendo um caminho entre seletores, até chegar a um determinado
seletor em questão pra aplicar a formataçã
*/
#page-home .content{
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#page-home header{
    /*O header continua no fluxo padrão, um em cima do outro
    Mais os filhos dentro do header, ele usam outro tipo de display
    O flex, um ao lado do outro
    */
    /*Flex-box*/
    display: flex;
    align-items: center;
    /*Justificando o conteúdo de dentro
    space-between - espaçamento entre eles
    */
    justify-content: space-between;
    margin-top: 48px;
}



/*Estilo svg, ele é todo escrito em formato de texto.
Ele é um tipo de imagem que se adapta a telas de diversos tamanhos
*/
#page-home header a{
    display: flex;
    color: var(--title-color);
    font-weight: 700;
}

#page-home header a span{
    background-image: url(../assets/log-in.svg);
    width: 20px;
    height: 20px;
    display: flex;
    margin-right: 16px;
}

#page-home main{
    max-width: 560px;
    height: 600px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

#page-home main h1{
    font-size: 54px;
}

#page-home main p{
    font-size: 24px;
    line-height: 38px;
    margin-top: 24px;
}

#page-home main a{
    /*Caso o maximo passe, não vai passar
    E se for menor que 360, vai manter os 100%
    */
    width: 100%;
    max-width: 360px;
    background-color: var(--primary-color);
    height: 72px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    transition: 400ms;
}

#page-home main a:hover{
    background-color: #2fb86e;
}

#page-home main a span{
    width: 72px;
    height: 72px;
    background-color: rgba(0, 0, 0, 0.08);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Aqui no span, eu tenho como criar através do html elementos que não existem.
São pseudo-elementos, são elementos que não tem no html, mais a gente vai criar ele através do css
*/
#page-home main a span::after{
    content: "";
    background-image: url(../assets/search.svg);
    width: 20px;
    height: 20px;
}

#page-home main a strong{
    /*Preenche toda a caixa, pra melhor visualização. 
    Usamos a ferramenta de desenvolvedor*/
    flex: 1;
    color: white;
    text-align: center;
}
